RewriteEngine On
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
</IfModule>
#Xử lý Route SERVER
RewriteRule ^api/server/vmess/config$ api/server/vmess/config.php [L]
RewriteRule ^api/server/vmess/user$ api/server/vmess/user.php [L]
RewriteRule ^api/server/vmess/online$ api/server/vmess/online.php [L]
RewriteRule ^api/server/vmess/submit$ api/server/vmess/submit.php [L]

RewriteRule ^api/server/trojan/config$ api/server/trojan/config.php [L]
RewriteRule ^api/server/trojan/user$ api/server/trojan/user.php [L]
RewriteRule ^api/server/trojan/online$ api/server/trojan/online.php [L]
RewriteRule ^api/server/trojan/submit$ api/server/trojan/submit.php [L]


RewriteRule ^showprices/([A-Za-z0-9-]+) api/showprice.php?id=$1 [L]
RewriteRule ^showsni$ api/showsni.php [L]
RewriteRule ^csv/coupon$ api/csv_coupon.php [L]

#Xử lý Route CTV
RewriteRule ^ctv/orders-vps-edit/([A-Za-z0-9-]+) index.php?module=ctv&action=orders-vps-edit&id=$1 [L]
RewriteRule ^ctv/vps-edit/([A-Za-z0-9-]+) index.php?module=ctv&action=vps-edit&id=$1 [L]
RewriteRule ^ctv/([A-Za-z0-9-]+) index.php?module=ctv&action=$1 [L]
RewriteRule ^ctv index.php?module=ctv&action= [L]
#Xử lý Route ADMIN
RewriteRule ^admin/edit-discount/([A-Za-z0-9-]+) index.php?module=admin&action=edit-discount&id=$1 [L]
RewriteRule ^admin/package-vps-edit/([A-Za-z0-9-]+) index.php?module=admin&action=package-vps-edit&id=$1 [L]
RewriteRule ^admin/edit-sitecon/([A-Za-z0-9-]+) index.php?module=admin&action=edit-sitecon&id=$1 [L]
RewriteRule ^admin/edit-payment/([A-Za-z0-9-]+) index.php?module=admin&action=edit-payment&id=$1 [L]
RewriteRule ^admin/edit-server/([A-Za-z0-9-]+) index.php?module=admin&action=edit-server&id=$1 [L]
RewriteRule ^admin/edit-user/([A-Za-z0-9-]+) index.php?module=admin&action=edit-user&id=$1 [L]
RewriteRule ^admin/edit-plan/([A-Za-z0-9-]+) index.php?module=admin&action=edit-plan&id=$1 [L]
RewriteRule ^admin/edit-knowledge/([A-Za-z0-9-]+) index.php?module=admin&action=edit-knowledge&id=$1 [L]
RewriteRule ^admin/edit-notice/([A-Za-z0-9-]+) index.php?module=admin&action=edit-notice&id=$1 [L]
RewriteRule ^admin/edit-sni/([A-Za-z0-9-]+) index.php?module=admin&action=edit-sni&id=$1 [L]
RewriteRule ^admin/edit-shadowrocket/([A-Za-z0-9-]+) index.php?module=admin&action=edit-shadowrocket&id=$1 [L]
RewriteRule ^admin/edit-coupon/([A-Za-z0-9-]+) index.php?module=admin&action=edit-coupon&id=$1 [L]
RewriteRule ^admin/user/(.+)$ index.php?module=admin&action=user&page=$1 [L]
RewriteRule ^admin/plan-success/(.+)$ index.php?module=admin&action=plan-success&page=$1 [L]
RewriteRule ^admin/edit-support/([A-Za-z0-9-]+) index.php?module=admin&action=edit-support&id=$1 [L]
RewriteRule ^admin/accounts/([A-Za-z0-9-]+) index.php?module=admin&action=accounts&id=$1 [L]
RewriteRule ^admin/product-edit/([A-Za-z0-9-]+) index.php?module=admin&action=product-edit&id=$1 [L]
RewriteRule ^admin/source-edit/([A-Za-z0-9-]+) index.php?module=admin&action=source-edit&id=$1 [L]
RewriteRule ^admin/edit-hosting-minecraft/([A-Za-z0-9-]+) index.php?module=admin&action=edit-hosting-minecraft&id=$1 [L]
RewriteRule ^admin/question-edit/([A-Za-z0-9-]+) index.php?module=admin&action=question-edit&id=$1 [L]
RewriteRule ^admin/orders-vps-edit/([A-Za-z0-9-]+) index.php?module=admin&action=orders-vps-edit&id=$1 [L]
RewriteRule ^admin/orders-minecraft-edit/([A-Za-z0-9-]+) index.php?module=admin&action=orders-minecraft-edit&id=$1 [L]
RewriteRule ^admin/vps-edit/([A-Za-z0-9-]+) index.php?module=admin&action=edit-vps&id=$1 [L]
RewriteRule ^admin/edit-category/([A-Za-z0-9-]+) index.php?module=admin&action=edit-category&id=$1 [L]
RewriteRule ^admin/edit-category-product/([A-Za-z0-9-]+) index.php?module=admin&action=edit-category-product&id=$1 [L]
RewriteRule ^admin/edit-category-minecraft/([A-Za-z0-9-]+) index.php?module=admin&action=edit-category-minecraft&id=$1 [L]
RewriteRule ^admin/edit-category-hosting/([A-Za-z0-9-]+) index.php?module=admin&action=edit-category-hosting&id=$1 [L]
RewriteRule ^admin/edit-hosting/([A-Za-z0-9-]+) index.php?module=admin&action=edit-hosting&id=$1 [L]
RewriteRule ^admin/edit-order-hosting/([A-Za-z0-9-]+) index.php?module=admin&action=edit-order-hosting&id=$1 [L]
RewriteRule ^admin/edit-order-vps/([A-Za-z0-9-]+) index.php?module=admin&action=edit-order-vps&id=$1 [L]
RewriteRule ^admin/edit-system/([A-Za-z0-9-]+) index.php?module=admin&action=edit-system&id=$1 [L]
RewriteRule ^admin/user-edit/([A-Za-z0-9-]+) index.php?module=admin&action=user-edit&id=$1 [L]
RewriteRule ^admin/download-edit/([A-Za-z0-9-]+) index.php?module=admin&action=download-edit&id=$1 [L]
RewriteRule ^admin/([A-Za-z0-9-]+) index.php?module=admin&action=$1 [L]
RewriteRule ^admin index.php?module=admin&action= [L]
#Xử lý Route CLIENT
RewriteRule ^ref/([A-Za-z0-9-]+) index.php?module=client&action=ref&ref=$1 [L]
RewriteRule ^client/home/([A-Za-z0-9-]+) index.php?module=client&action=home&shop=$1 [L]
RewriteRule ^client/blog/([A-Za-z0-9-]+) index.php?module=client&action=blog&id=$1 [L]
RewriteRule ^client/giftbox/([A-Za-z0-9-]+) index.php?module=client&action=giftbox&id=$1 [L]
RewriteRule ^client/verify/([A-Za-z0-9-]+) index.php?module=client&action=verify&token=$1 [L]
RewriteRule ^client/shareplan/edit/([A-Za-z0-9-]+) index.php?module=client&action=editshareplan&id=$1 [L]
RewriteRule ^client/notification/view/([A-Za-z0-9-]+) index.php?module=client&action=notification-view&id=$1 [L]
RewriteRule ^client/profile-ctv/([A-Za-z0-9-]+) index.php?module=client&action=profile-ctv&username=$1 [L]
RewriteRule ^client/viewsource/([A-Za-z0-9-]+) index.php?module=client&action=viewsource&id=$1 [L]
RewriteRule ^client/viewshareplan/([A-Za-z0-9-]+) index.php?module=client&action=viewshareplan&share_link=$1 [L]
RewriteRule ^client/history-vps/view/([A-Za-z0-9-]+) index.php?module=client&action=view-vps&id=$1 [L]
RewriteRule ^client/viewnoti/([A-Za-z0-9-]+) index.php?module=client&action=viewnoti&id=$1 [L]
RewriteRule ^client/plan-lists/([A-Za-z0-9-]+) index.php?module=client&action=plan-lists&plan_id=$1 [L]
RewriteRule ^client/shadowrocket/([A-Za-z0-9-]+) index.php?module=client&action=shadowrocket&token=$1 [L]
RewriteRule ^client/plan/([A-Za-z0-9-]+) index.php?module=client&action=plan&plan_id=$1 [L]
RewriteRule ^client/order/([A-Za-z0-9-]+) index.php?module=client&action=order&id=$1 [L]
RewriteRule ^client/order/plan/user/view/([A-Za-z0-9-]+) index.php?module=client&action=view-plan-user&token=$1 [L]
RewriteRule ^client/order-plan-user/view$ index.php?module=client&action=order-plan-user [L]
RewriteRule ^client/order/lists$ index.php?module=client&action=order-lists [L]
RewriteRule ^client/recharge/card$ index.php?module=client&action=card [L]
RewriteRule ^client/recharge/bank$ index.php?module=client&action=bank [L]
RewriteRule ^client/hdsd$ index.php?module=client&action=hdsd [L]
RewriteRule ^client/server index.php?module=client&action=server [L]
RewriteRule ^client/traffic index.php?module=client&action=chitietsudung [L]
RewriteRule ^client/payment/([A-Za-z0-9-]+)/([A-Za-z0-9-]+) index.php?module=client&action=payment&order_id=$1&payment_id=$2 [L]
RewriteRule ^category/([A-Za-z0-9-]+) index.php?module=client&action=category&cname=$1 [L]
RewriteRule ^client/blogs-detail/([A-Za-z0-9-]+) index.php?module=client&action=blogs-detail&id=$1 [L]
RewriteRule ^client/orders-vps-detail/([A-Za-z0-9-]+) index.php?module=client&action=orders-vps-detail&id=$1 [L]
RewriteRule ^client/confproduct/([A-Za-z0-9-]+) index.php?module=client&action=confproduct&id=$1 [L]
RewriteRule ^client/order-vps/([A-Za-z0-9-]+) index.php?module=client&action=order-vps&id=$1 [L]
RewriteRule ^confproduct/minecraft/([A-Za-z0-9-]+) index.php?module=client&action=confproduct-minecraft&id=$1 [L]
RewriteRule ^client/product/([A-Za-z0-9-]+) index.php?module=client&action=product&slug=$1 [L]
RewriteRule ^client/vps/([A-Za-z0-9-]+) index.php?module=client&action=vps&slug=$1 [L]
RewriteRule ^hosting/([A-Za-z0-9-]+) index.php?module=client&action=hosting&slug=$1 [L]
RewriteRule ^account$ index.php?module=client&action=account [L]
RewriteRule ^hosting-minecraft/([A-Za-z0-9-]+) index.php?module=client&action=hosting-minecraft&slug=$1 [L]
RewriteRule ^order/hosting/([A-Za-z0-9-]+) index.php?module=client&action=order-hosting&id=$1 [L]
RewriteRule ^client/cpanel/([A-Za-z0-9-]+) index.php?module=client&action=cpanel-hosting&id=$1 [L]
RewriteRule ^client/([A-Za-z0-9-]+) index.php?module=client&action=$1 [L]
RewriteRule ^client index.php?module=client&action= [L]
RewriteRule ^apigetsodu/(.*)$ ajaxs/client/historymomo.php?balancetoken=$1 [L]
RewriteRule ^sub/([A-Za-z0-9-]+)/([A-Za-z0-9-]+) api/subscribe.php?app=$1&token=$2 [L]

#Xử lý nạp tiền
RewriteRule ^recharge/([A-Za-z0-9-]+) index.php?module=client&action=$1 [L]
#Xử lý Route COMMON
RewriteRule ^common/([A-Za-z0-9-]+) index.php?module=common&action=$1 [L]
ErrorDocument 404 /404.php
